body,
html {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
}

.logo {
  margin: 10% auto;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: grid;
}

label,
.tip-percentage-label {
  color: hsl(184, 14%, 56%);
}

button {
  border: none;
}

input {
  text-align: right;
  padding-right: 16px;
  border: none;
}

form,
.totals {
  width: 90%;
  margin: 5% auto;
}

.bill-input {
  background: url("images/icon-dollar.svg") no-repeat scroll 7px center;
  background-color: hsl(189, 41%, 97%);
}

.number-of-people {
  background: url("images/icon-person.svg") no-repeat scroll 7px center;
  background-color: hsl(189, 41%, 97%);
}

.bill-input,
.number-of-people {
  width: 100%;
  padding: 12px 12px 12px 30px;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}

button,
.totals {
  border-radius: 5px;
}

.percent-container,
.totals {
  background-color: hsl(183, 100%, 15%);
}

.button-container {
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.single-button-container {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 40px;
}

.single-button-container label,
.single-button-container input {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.single-button-container label {
  cursor: pointer;
  z-index: 90;
  line-height: 2.5em;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.single-button-container [type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.single-button-container input[type="radio"]:checked + label {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border-radius: 4px;
}

.single-button-container,
.custom {
  padding: 8px;
}

.custom {
  background-color: hsl(189, 41%, 97%);
  font-weight: 700;
}

.total-display {
  margin: 10% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  grid-column: 1;
}

.total-display p {
  margin: 0;
}

.display-name {
  color: hsl(0, 0%, 100%);
}

.total-display small {
  color: hsl(184, 14%, 56%);
}

.display {
  color: hsl(172, 67%, 45%);
  font-size: 2.5rem;
  grid-column: 2;
  justify-self: end;
}

.reset {
  background-color: hsl(172, 67%, 45%);
  display: block;
  width: 90%;
  padding: 8px;
  margin: 5% auto;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  body,
  html {
    display: grid;
    place-items: center;
    align-content: center;
  }

  main {
    grid-template-columns: 1fr 1fr;

    margin: auto;
    border-radius: 15px;
  }

  form {
    grid-column: 1;
  }

  .totals {
    grid-column: 2;
  }
}
