body,
html {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  font-weight: 700;

  background-color: hsl(185, 41%, 84%);
}

.logo {
  margin: 10% auto;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: grid;
}

label,
.tip-percentage-label {
  color: hsl(184, 14%, 56%);
}

button {
  border: none;
}

input {
  text-align: right;
  padding-right: 16px;
  border: none;
}

form,
.totals {
  width: 90%;
  margin: 5% auto;
}

.bill-input {
  background: url("images/icon-dollar.svg") no-repeat scroll 7px center;
  background-color: hsl(189, 41%, 97%);
}

.number-of-people {
  background: url("images/icon-person.svg") no-repeat scroll 7px center;
  background-color: hsl(189, 41%, 97%);
}

.bill-input,
.number-of-people {
  width: 100%;
  padding: 12px 12px 12px 30px;
}

button,
.totals {
  border-radius: 5px;
}

.percent-container,
.totals {
  background-color: hsl(183, 100%, 15%);
}

.button-container {
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.button-container label,
.button-container input {
  position: absolute;
  display: block;
}

.button-container label {
  padding: 5px;
  border: 1px solid #ccc;
}

input[type="radio"] {
  box-sizing: content-box;
  color: hsl(189, 41%, 97%);
  opacity: 0;
  padding: auto;
}

.single-button-container {
  border-radius: 15px;
}

.single-button-container,
.custom {
  padding: 8px;
}

.custom {
  background-color: hsl(189, 41%, 97%);
  font-weight: 700;
}

.reset {
  display: block;
  width: 90%;
  padding: 8px;
  margin: 5% auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
